.board {
    width: 700px;
    height: 700px;
}

.boxgreen {
    background: #4CAF50;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
}

.boxyellow {
    background: #f1e203;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
}

.boxblue {
    background: #0446fc;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
}

.boxred {
    background: #f81212;
    height: 30px;
    width: 30px;
    display: inline-block;
    position: absolute;
}

.dotgreen {
    height: 25px;
    width: 25px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.dotyellow {
    height: 25px;
    width: 25px;
    background-color: #f1e203;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.dotred {
    height: 25px;
    width: 25px;
    background-color: #f81212;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.dotblue {
    height: 25px;
    width: 25px;
    background-color: #0446fc;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.dice {
    right: 0;
    width: 75px;
    height: 75px;
    /* background: url(../chakaara/images/dice.png); */
}

.coin1 {
    background-color: #4CAF50;
    border:none;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    font-family: "trebuchet ms", arial, sans-serif;
    font-style: italic;
 
}

.coin2 {
    background-color: #f1e203;
    border: none;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    font-family: "trebuchet ms", arial, sans-serif;
    font-style: italic;
}

.coin3 {
    background-color: #f81212;
    border: none;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    font-family: "trebuchet ms", arial, sans-serif;
    font-style: italic;
}

.coin4 {
    background-color: #0446fc;
    border: none;
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    font-family: "trebuchet ms", arial, sans-serif;
    font-style: italic;
}
.col-xl-1 {
    float :right;

   
}
.col-xl-2 {
    float :right;

}


.col-xl-6 {
    float:left;
}

.btn{
    
    background-color: black;
    color: white;
    font-family: "trebuchet ms", arial, sans-serif;
    border: 1px solid black;
    font-style: italic;
    
}

.btn-dice {
    background-color: black;
    color: white;
    font-family: "trebuchet ms", arial, sans-serif;
    border: 1px solid black;
    font-style: italic;
}

.score {
    font-family: "trebuchet ms", arial, sans-serif;
    font-style: italic;
}